header{
    width : 3000px; 
    height: 200px;
     background-color:green;
}


section{
    width : 3000px; 
    height: 200px;
     background-color:red;
}

.about{
    background-color: blue;
    width : 3000px; 
    height: 200px;
} 


footer{
    background-color: rgb(0, 255, 64);
    width : 3000px; 
    height: 200px;
}